input {
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
}
ul {
	list-style: none;
	color: white;
}
.enter {
	border: none;
	border-radius: 15px;
	color: white;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 20px;
	max-width: 50vh;
	margin: 5px;
}
.enter:hover {
	background-color: rgba(156, 5, 5, 0.2);
	border-radius: 5px;
}
.delete {
	border: none;
	border-radius: 15px;
	color: rgb(103, 6, 6);
	text-transform: uppercase;
	background-color: black;
	font-size: 20px;
	max-width: 50vh;
}
.delete:hover {
	background-color: rgba(103, 6, 6, 0.5);
	color: rgb(152, 27, 27);
	border-radius: 5px;
}
.noDisplay {
	display: none;
}
